<%- include ("./partials/header.ejs")%>
    <link rel="stylesheet" href="/stylesheets/home.css">
    <title>EZTrade</title>
    <div class="container-fluid">
        <div class="row mt-2">
            <!--Non-Scrollable Sidebar-->
            <aside class="col-lg-2">
                <!--Logo-->
                Mutual funds are subject to market risks. Read all scheme realted documents carefully.
            </aside>
            <section class="col-lg-10">
                <!--This Should Come All the Way Down-->
                <nav class="row">
                    <div class="col-11">
                        <form action="/coin" method="POST">
                            <input class="form-control" list="datalistOptions" placeholder="Type something here..."
                                name="coin">
                            <datalist id="datalistOptions">
                                <option value="s"> San Francisco</option>
                                <option>New York</option>
                                <option>Seattle</option>
                                <option>Los Angeles</option>
                                <option>Chicago</option>
                            </datalist>
                        </form>
                    </div>
                    <div class="col-1">
                        <span>
                            <lord-icon src="https://cdn.lordicon.com/dxjqoygy.json" trigger="hover"
                                colors="primary:#121331,secondary:#16a9c7" style="width:75px;height:75px">
                            </lord-icon>
                        </span>
                    </div>
                </nav>
                <!--This Should Be Scrollable-->
                <main class="row">
                    <div class="container-fluid" id="containerone">
                        <section>
                            <div class="row">
                                <p>Type 1</p>
                            </div>
                        </section>
                        <section>
                            <% for(let i=0;i<2;i++){ %>
                                <div class="row my-3 justify-content-evenly">
                                    <% for(let j=0;j<5;j++){ %>
                                        <div class="col-2 home-card">
                                            <div id="card_<%=5*i+j%>" class="card h-100 border-dark">
                                                <img src="/logos/<%=logos[5*i+j]%>" class="card-img-top"
                                                    alt="<%=logos[5*i+j]%>'s logo">
                                                <div class="card-body">
                                                    <h6 class="card-title">
                                                        <%=companies[5*i+j]%>
                                                    </h6>
                                                    <blockquote class="px-0">
                                                        <p>
                                                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                                        </p>
                                                    </blockquote>

                                                    <button id="button_<%=5*i+j%>" value="<%= companies[5*i+j] %>"
                                                        class="btn btn-primary" onclick="getapi(this.value)">Know more
                                                    </button>
                                                </div>
                                                <div class="container-fluid">
                                                    <% for(let i=0;i<2;i++){ %>
                                                        <div class="row justify-content-center">
                                                            <% for(let j=0;j<3;j++){ %>
                                                                <% if(i==1 && j==2) break; %>
                                                                    <div class="col-4">
                                                                        <lord-icon
                                                                            src="https://cdn.lordicon.com/mdgrhyca.json"
                                                                            trigger="click"
                                                                            colors="primary:#121331,secondary:#08a88a"
                                                                            style="width:32px;height:32px">
                                                                        </lord-icon>
                                                                    </div>
                                                                    <% } %>
                                                        </div>
                                                        <% } %>
                                                </div>
                                            </div>
                                        </div>
                                        <%}%>
                                </div>
                                <br>
                                <%}%>
                        </section>
                        <section id="moreinfo">
                            <button class="btn btn-dark" id="moreinfobtn" onclick="expandandcollapse()">
                                Show More
                            </button>
                        </section>
                        <section id="letsgetthispartystarted">
                            <% for(let i=2;i<9;i++){ %>
                                <div class="row my-3 justify-content-evenly">
                                    <% for(let j=0;j<5;j++){ %>
                                        <%if(i==8&&j==3) break;%>
                                            <div class="col-2 home-card">
                                                <div id="card_<%=5*i+j%>" class="card visually-hidden">
                                                    <img src="/logos/<%=logos[5*i+j]%>" class="card-img-top"
                                                        alt="<%=logos[5*i+j]%>'s logo">
                                                    <div class="card-body">
                                                        <h6 class="card-title">
                                                            <%=companies[5*i+j]%>
                                                        </h6>
                                                        <blockquote class="px-0">
                                                            <p>
                                                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                                            </p>
                                                        </blockquote>
                                                        <button id="button_<%=5*i+j%>" value="<%= companies[5*i+j] %>"
                                                            class="btn btn-primary" onclick="getapi(this.value)">Know
                                                            more
                                                        </button>
                                                    </div>
                                                    <div class="container-fluid">
                                                        <% for(let i=0;i<2;i++){ %>
                                                            <div class="row justify-content-center">
                                                                <% for(let j=0;j<3;j++){ %>
                                                                    <% if(i==1 && j==2) break; %>
                                                                        <div class="col-4">
                                                                            <lord-icon
                                                                                src="https://cdn.lordicon.com/mdgrhyca.json"
                                                                                trigger="click"
                                                                                colors="primary:#121331,secondary:#08a88a"
                                                                                style="width:32px;height:32px">
                                                                            </lord-icon>
                                                                        </div>
                                                                        <% } %>
                                                            </div>
                                                            <% } %>
                                                    </div>
                                                </div>
                                            </div>
                                            <%}%>
                                </div>
                                <br>
                                <%}%>
                        </section>
                    </div>
                </main>
            </section>
        </div>
    </div>
    <script src="/scripts/home.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>