<%- include ("./partials/header.ejs")%>
    <link rel="stylesheet" href="/stylesheets/home.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@500&display=swap" rel="stylesheet">
    <title>EZTrade</title>
    <div class="container-fluid">
        <div class="row">
            <!--Non-Scrollable Sidebar-->
            <aside id="sidebar" class="col-lg-2 visually-hidden bg-dark text-light fixed">
                <span>
                    <h1 class="mt-3">EZTrade</h1>
                </span>
                <p>
                    Mutual funds are subject to market risks. Read all scheme realted documents carefully.
                </p>
                <br>
            </aside>
            <!--This Should Come All the Way Down-->
            <section id="maincontent" class="col-lg-12">
                <nav class="row">
                    <div class="col-2">
                        <h1 id="eztrade">EZTrade</h1>
                        <span>
                            <button id="hamburger" onclick="summonsidebar()">
                                <lord-icon src="https://cdn.lordicon.com/jvucoldz.json" trigger="hover"
                                    colors="primary:#ffffff,secondary:#000000" style=" width:75px;height:75px">
                                </lord-icon>
                            </button>
                        </span>
                    </div>
                    <div class="col-8 mt-2">
                        <div class="row">
                            <form action="/coin" method="POST">
                                <input class="form-control" list="datalistOptions" placeholder="Type something here..."
                                    name="coin">
                                <datalist id="datalistOptions">
                                    <option value="s"> San Francisco</option>
                                    <option>New York</option>
                                    <option>Seattle</option>
                                    <option>Los Angeles</option>
                                    <option>Chicago</option>
                                </datalist>
                            </form>
                        </div>
                        <div id="quote" class="row">
                            <blockquote>
                                <p id="quotetext" class="display-6 text-center">
                                    Mutual funds are subject to market risks. Read all scheme realted documents
                                    carefully.
                                </p>
                            </blockquote>
                        </div>
                    </div>
                    <div class="col-2">
                        <div>
                            <span id="username">Username</span>
                            <span>
                                <button id="profile">
                                    <lord-icon src="https://cdn.lordicon.com/dxjqoygy.json" trigger="hover"
                                        colors="primary:#14213d,secondary:#f7f7f7" style="width:85px;height:85px">
                                    </lord-icon>
                                </button>
                            </span>
                            <span><a href="/portfolio" style="color:white">Go to my portfolio</a></span>
                        </div>
                    </div>
                </nav>
                <!--This Should Be Scrollable-->
                <main class="row">
                    <div class="container-fluid">
                        <section>
                            <% for(let i=0;i<2;i++){ %>
                                <div class="row my-3 justify-content-evenly card-group">
                                    <% for(let j=0;j<5;j++){ %>
                                        <div class="col-2 home-card">
                                            <div id="card_<%=5*i+j%>" class="card h-100 border-dark">
                                                <img src="/logos/<%=logos[5*i+j]%>"
                                                    class="card-img-top img-fluid img-thumbnail"
                                                    alt="<%=logos[5*i+j]%>'s logo">
                                                <div class="card-body">
                                                    <h5 class="card-title text-center">
                                                        <%=companies[5*i+j]%>
                                                    </h5>
                                                    <blockquote class="px-0">
                                                        <p>
                                                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                                        </p>
                                                    </blockquote>
                                                </div>
                                                <div class="card-footer">
                                                    <button id="button_<%=5*i+j%>" value="<%= companies[5*i+j] %>"
                                                        class="btn" onclick="getapi(this.value)">Know
                                                        more
                                                    </button>
                                                </div>
                                                <!-- <div class="container-fluid">
                                                    <% for(let i=0;i<2;i++){ %>
                                                        <div class="row justify-content-center">
                                                            <% for(let j=0;j<3;j++){ %>
                                                                <% if(i==1 && j==2) break; %>
                                                                    <div class="col-4">
                                                                        <lord-icon
                                                                            src="https://cdn.lordicon.com/mdgrhyca.json"
                                                                            trigger="click"
                                                                            colors="primary:#121331,secondary:
                                                                            style="width:32px;height:32px">
                                                                        </lord-icon>
                                                                    </div>
                                                                    <% } %>
                                                        </div>
                                                        <% } %>
                                                </div> -->
                                            </div>
                                        </div>
                                        <%}%>
                                </div>
                                <br>
                                <%}%>
                        </section>
                        <section id="moreinfo">
                            <button class="btn btn-info px-4 py-1" id="moreinfobtn" onclick="expandandcollapse()">
                                Show More
                            </button>
                            <br><br><br>
                        </section>
                        <section id="letsgetthispartystarted">
                            <% for(let i=2;i<9;i++){ %>
                                <div class="row my-3 justify-content-evenly card-group">
                                    <% for(let j=0;j<5;j++){ %>
                                        <%if(i==8 && j==3) break;%>
                                            <div class="col-2 home-card">
                                                <div id="card_<%=5*i+j%>" class="card visually-hidden">
                                                    <img src="/logos/<%=logos[5*i+j]%>"
                                                        class="card-img-top img-fluid img-thumbnail"
                                                        alt="<%=logos[5*i+j]%>'s logo">
                                                    <div class="card-body">
                                                        <h5 class="card-title text-center display-">
                                                            <%=companies[5*i+j]%>
                                                        </h5>
                                                        <blockquote class="px-0">
                                                            <p>
                                                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                                            </p>
                                                        </blockquote>
                                                    </div>
                                                    <div class="card-footer">
                                                        <button id="button_<%=5*i+j%>" value="<%= companies[5*i+j] %>"
                                                            class="btn" onclick="getapi(this.value)">Know
                                                            more
                                                        </button>
                                                    </div>
                                                    <!-- <div class="container-fluid">
                                                        <% for(let i=0;i<2;i++){ %>
                                                            <div class="row justify-content-center">
                                                                <% for(let j=0;j<3;j++){ %>
                                                                    <% if(i==1 && j==2) break; %>
                                                                        <div class="col-4">
                                                                            <lord-icon
                                                                                src="https://cdn.lordicon.com/mdgrhyca.json"
                                                                                trigger="click"
                                                                                colors="primary:#121331,secondary:#08a88a"
                                                                                style="width:32px;height:32px">
                                                                            </lord-icon>
                                                                        </div>
                                                                        <% } %>
                                                            </div>
                                                            <% } %>
                                                    </div> -->
                                                </div>
                                            </div>
                                            <%}%>
                                </div>
                                <br>
                                <%}%>
                        </section>
                    </div>
                </main>
            </section>
        </div>
    </div>
    <script src="/scripts/home.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>