<%- include ("./partials/header.ejs")%>
    <link rel="stylesheet" href="/stylesheets/home.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>EZTrade</title>
    <div class="container-fluid">
        <div class="row mt-2">
            <!--Non-Scrollable Sidebar-->
            <aside class="col-lg-2">
                <!--Logo-->
                Mutual funds are subject to market risks. Read all scheme realted documents carefully.
            </aside>
            <section class="col-lg-10">
                <!--This Should Come All the Way Down-->
                <nav class="row">
                    <div class="col-11">
                        <form action="/coin" method="POST">
                            <input class="form-control" list="datalistOptions" placeholder="Type to search..."
                                name="coin">
                            <datalist id="datalistOptions">
                                <option value="s"> San Francisco</option>
                                <option>New York</option>
                                <option>Seattle</option>
                                <option>Los Angeles</option>
                                <option>Chicago</option>
                            </datalist>
                        </form>
                    </div>
                    <div class="col-1">
                        Icons
                    </div>
                </nav>
                <!--This Should Be Scrollable-->
                <main class="row">
                    <div class="container-fluid" id="containerone">
                        <section>
                            <div class="row">
                                <p>Type 1</p>
                            </div>
                        </section>
                        <section>
                            <% for(let i=0;i<2;i++){ %>
                                <div class="row my-3 justify-content-evenly">
                                    <% for(let j=0;j<5;j++){ %>
                                        <div class="col-2">
                                            <div id="card_<%=5*i+j%>" class="card">
                                                <img src="/logos/<%=logos[5*i+j]%>" class="card-img-top" alt="">
                                                <div class="card-body">
                                                    <h6 class="card-title">
                                                        <%=companies[5*i+j]%>
                                                    </h6>
                                                    <button id="button_<%=5*i+j%>" value="<%= companies[5*i+j] %>"
                                                        class="btn btn-primary" onclick="getapi(this.value)">Button
                                                        <%=5*i+j%>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <%}%>
                                </div>
                                <%}%>
                        </section>
                        <section id="moreinfo">
                            <button class="btn btn-dark" id="moreinfobtn" onclick="expandandcollapse()">
                                Show More
                            </button>
                        </section>
                        <section id="letsgetthispartystarted">
                            <% for(let i=2;i<9;i++){ %>
                                <div class="row my-3 justify-content-evenly">
                                    <% for(let j=0;j<5;j++){ %>
                                        <%if(i==8&&j==3) break;%>
                                            <div class="col-2">
                                                <div id="card_<%=5*i+j%>" class="card visually-hidden">
                                                    <img src="/logos/<%=logos[5*i+j]%>" class="card-img-top" alt="">
                                                    <div class="card-body">
                                                        <h6 class="card-title">
                                                            <%=companies[5*i+j]%>
                                                        </h6>
                                                        <button id="button_<%=5*i+j%>" value="<%= companies[5*i+j] %>"
                                                            class="btn btn-primary" onclick="getapi(this.value)">Button
                                                            <%=5*i+j%>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            <%}%>
                                </div>
                                <%}%>
                        </section>
                    </div>
                </main>
            </section>
        </div>
    </div>
    <script src="/scripts/home.js"></script>