<%- include ("./partials/header.ejs")%>
    <link rel="stylesheet" href="/stylesheets/home.css">
    <title>EZTrade</title>
    <div class="container-fluid">
        <div class="row mt-2">
            <!--Non-Scrollable Sidebar-->
            <aside class="col-lg-2">
                <!--Logo-->
                Mutual funds are subject to market risks. Read all scheme realted documents carefully.
            </aside>
            <section class="col-lg-10">
                <!--This Should Come All the Way Down-->
                <nav class="row">
                    <div class="col-11">
                        <form action="/coin" method="POST">
                            <input class="form-control" list="datalistOptions" placeholder="Type to search..."
                                name="coin">
                            <datalist id="datalistOptions">
                                <option value="s"> San Francisco</option>
                                <option>New York</option>
                                <option>Seattle</option>
                                <option>Los Angeles</option>
                                <option>Chicago</option>
                            </datalist>
                        </form>
                    </div>
                    <div class="col-1">
                        <i class="fa-solid fa-envelope"></i>
                    </div>
                </nav>
                <!--This Should Be Scrollable-->
                <main class="row">
                    <div class="container-fluid" id="containerone">
                        <section>
                            <div class="row">
                                <p>Type 1</p>
                            </div>
                        </section>
                        <section>
                            <% for(let i=0;i<2;i++){ %>
                                <div class="row my-3 justify-content-evenly">
                                    <% for(let j=0;j<5;j++){ %>
                                        <div class="col-2">
                                            <div id="imgparent" class="card">
                                                <img src="/logos/axis.jpg" class="card-img-top" alt="">
                                                <div class="card-body">
                                                    <h6 class="card-title">
                                                        <%=companies[5*i+j]%>
                                                    </h6>
                                                    <button id="button_<%=5*i+j%>" value="<%= companies[5*i+j] %>"
                                                        class="btn btn-primary">Button
                                                        <%=5*i+j%>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <%}%>
                                </div>
                                <%}%>
                        </section>
                        <section>
                            <div class="row my-3 justify-content-evenly">
                                <div class="col-2">
                                    <div id="imgparent" class="card">
                                        <img src="/logos/axis.jpg" class="card-img-top" alt="">
                                        <div class="card-body">
                                            <h6 class="card-title">Company No 11</h6>
                                            <button id="button_11" class="btn btn-primary"
                                                onclick="expandandcollapse()">Button 11</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-10">
                                    <div id="letsappendithere"></div>
                                </div>
                            </div>
                        </section>
                        <section>
                            <div id="cardgenerator" class="row my-3 justify-content-evenly">

                            </div>
                        </section>
                    </div>
                </main>
            </section>
        </div>
    </div>
    <script src="/scripts/home.js"></script>