<%- include ("./partials/header.ejs")%>
    <link rel="stylesheet" href="./stylesheets/info.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>


    <h2>
        <%=schemes[0]%>
    </h2>

    <p>
    <h3>Net Asset Value: <%=schemes[2]%>
    </h3> as of <h4>
        <%=schemes[3]%>
    </h4>
    </p>


    <% for(let i=0;i<schemes.length;i++){ %>
        <p class="" id="name">
            <%=schemes[i]%>
        </p><br>
        <% } %>






            <script src="./scripts/info.js"></script>