<%- include ("./partials/header.ejs")%>
    <link rel="stylesheet" href="./stylesheets/info.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>


    <h2>
        <%=schemes[0]%>
    </h2>

    <p>
    <h3>Net Asset Value: <%=schemes[2]%>


                

       
    </h3> as of <h4>
        <%=schemes[3]%>
    </h4>
    </p>







    <% for(let i=0;i<schemes.length;i++){ %>
        <p class="" id="name">
            <%=schemes[i]%>
        </p><br>
        <% } %>
        <p>=============================================</p>
        
         data for returns and chart
         <!-- write a for loop same as above for getmul getmul[0][i] for nav and getmul[i] for nav and date both -->
       
            <script src="./scripts/info.js"></script>